<!DOCTYPE html>
<html th:replace="~{template :: layout (~{:: main}, 'Remover Usuário')}">
	<main class="container">
		<div th:switch="${user}">
			<h2 th:case="null" th:text="|Usuário não encontrado|"></h2>
			<form class="" th:case="*" th:action="@{/users/{id}/delete(id=${user.id})}" method="POST" th:object="${user}">
				<div class="form-group mb-3">
					<label class="form-label" for="fullName">Nome</label>
					<div>
						<input type="text" class="form-control" th:field="*{fullName}" value="${user.fullName}" disabled>
					</div>
				</div>
				<div class="form-group mb-3">
					<label class="form-label" for="email">Email</label>
					<div>
						<input type="text" class="form-control" th:field="*{email}" value="${user.email}" disabled>
					</div>
				</div>
				<button type="submit" th:text="|Deletar|" class="btn btn-danger"></button>	
				<div th:if="${#fields.hasErrors('global')}">
					<p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />
				</div>
			</form>
		</div>
	</main>
</html>