<!DOCTYPE html>
<html th:replace="~{template :: layout (~{:: main}, 'Home')}">
	<main class="container-fluid mt-3 mb-3">
		<h1>Links</h1>
		<p><a class="btn btn-outline-dark" role="button" href="/users/register">User register</a></p>
		<p><a class="btn btn-outline-dark" role="button" href="/users">Users</a></p>
		<p><a class="btn btn-outline-dark" role="button" href="/organizations">Organizations</a></p>
		<p><a class="btn btn-outline-dark" role="button" href="/movimento/1">Movimento Organization 1</a></p>
	</main>
</html>