<!DOCTYPE html>
<html th:replace="~{template :: layout (~{:: main}, 'Home')}">
	<main class="container-fluid">
		<h2>Links</h2>
		<p>
			<a class="btn btn-outline-dark" role="button" href="/h2-console">H2 Console</a>
		</p>
		
		<div th:switch="${organizations}">
					<h2 th:case="null">Nenhuma escola cadastrada!</h2>
					<div th:case="*">
						<h2>Selecione uma Escola</h2>
						<div class="table-responsive">
							<table class="table table-sm table-hover text-nowrap">
								<thead>
									<tr>
										<th>Id</th>
										<th>Nome</th>
										<th>Razão Social</th>
										<th>CNPJ</th>
										<th>Situação</th>
										<th>Ações</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="org : ${organizations}">
										<td th:text="${org.id}"></td>
										<td th:text="${org.name}"></td>
										<td th:text="${org.legalName}"></td>
										<td th:text="${org.cnpj}"></td>
										<td th:text="${org.isActive ? 'Ativa' : 'Desativada'}"></td>
										<td><a class="btn btn-outline-primary" role="button" th:href="@{/(organizationId=${org.id})}" th:classappend="${org.id == session.currentOrganization?.id ? 'disabled' : ''}">Selecionar</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
	</main>
</html>