<!DOCTYPE html>
<html th:replace="~{template :: layout (~{:: main}, 'Rol de Responsáveis')}">
	<main class="container-fluid">
		<div th:switch="${rolResponsaveis}">
			<h2 th:case="null" th:text="|Escola sem dados no Rol de Responsáveis|"></h2>
			<div th:case="*">
				<h2>Rol de Responsáveis</h2>
				<a class="btn btn-primary" role="button">Adicionar Responsável</a>
				<div class="table-responsive">
									<table class="table table-sm table-hover text-nowrap">
										<thead>
											<tr>
												<th>Nome</th>
												<th>CPF</th>
												<th>RG</th>
												<th>Orgão Emissor</th>
												<th>Endereço</th>
												<th>Cidade</th>
												<th>UF</th>
												<th>CEP</th>
												<th>Telefone</th>
												<th>Email</th>
												<th>Editar</th>
												<th>Deletar</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="responsavel : ${rolResponsaveis}">
												<td th:text="${responsavel.nome}"></td>
												<td th:text="${responsavel.cpf}"></td>
												<td th:text="${responsavel.rg}"></td>
												<td th:text="${responsavel.orgaoEmissor}"></td>
												<td th:text="${responsavel.endereco}"></td>
												<td th:text="${responsavel.cidade}"></td>
												<td th:text="${responsavel.uf}"></td>
												<td th:text="${responsavel.cep}"></td>
												<td th:text="${responsavel.telefone}"></td>
												<td th:text="${responsavel.email}"></td>
												<td><a class="btn btn-outline-success" role="button" th:href="@{/organizations/{organizationId}/responsaveis/{responsavelId}/edit(organizationId=${session.currentOrganization.id},responsavelId=${responsavel.cpf})}">Editar</a></td>
												<td><a class="btn btn-outline-danger"  role="button">Deletar</a></td>
											</tr>
										</tbody>
									</table>
								</div>
			</div>
		</div>
	</main>
</html>