<!DOCTYPE html>
<html th:replace="~{template :: layout (~{:: main}, 'Usuários')}">
	<main class="container-fluid">
		<div th:switch="${users}">
			<h2 th:case="null">Nenhum usuário cadastrado!</h2>
			<div th:case="*">
				<h2>Usuários</h2>
				<a class="btn btn-outline-primary" th:href="@{/users/register}" role="button">Adicionar Usuário</a>
				<div class="table-responsive">
					<table class="table table-sm table-hover text-nowrap">
						<thead>
							<tr>
								<th>Id</th>
								<th>Nome</th>
								<th>Email</th>
								<th>Função</th>
								<th>Situação</th>
								<th>Último Login</th>
								<th>Ações</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="user : ${users}">
								<td th:text="${user.id}"></td>
								<td th:text="${user.fullName}"></td>
								<td th:text="${user.email}"></td>
								<td th:text="${user.role}"></td>
								<td th:text="${user.status}"></td>
								<td th:text="${#temporals.format(user.lastLoginAt, 'yyyy/MM/dd HH:mm')}"></td>
								<td>
									<a class="btn btn-outline-info"    role="button" th:href="@{/users/{id}/view(id=${user.id})}">Detalhes</a>
									<a class="btn btn-outline-success" role="button" th:href="@{/users/{id}/edit(id=${user.id})}">Editar</a>
									<a class="btn btn-outline-danger"  role="button" th:href="@{/users/{id}/delete(id=${user.id})}">Remover</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</main>
</html>