<!DOCTYPE html>
<html th:replace="~{template :: layout (~{:: main}, 'Movimento')}">
	<main class="container-fluid">
		<div th:switch="${movimento}">
			<h2 th:case="null">Sem movimento!</h2>
			<div th:case="*">
				<h2>Movimento</h2>
				<a class="btn btn-outline-primary" th:href="@{/organizations/{id}/movimento/register(id=${currentOrganization.id})}" role="button">Adicionar Lançamento</a>
				<div class="table-responsive">
					<table class="table table-sm table-hover text-nowrap">
						<thead>
							<tr>
								<th>Id</th>
								<th>Descrição</th>
								<th>Tipo</th>
								<th>Data Lançamento</th>
								<th>Valor</th>
								<th>Ações</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="lancamento : ${movimento}">
								<td th:text="${lancamento.id}"></td>
								<td th:text="${lancamento.descricao}"></td>
								<td th:text="${lancamento.tipo}"></td>
								<td th:text="${#temporals.format(lancamento.dataLancamento, 'yyyy/MM/dd HH:mm')}"></td>
								<td th:text="${lancamento.valor}"></td>
								<td>
									<a class="btn btn-outline-success" role="button" href="">Editar</a>
									<a class="btn btn-outline-danger"  role="button" href="">Apagar</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</main>
</html>