<!DOCTYPE html>
<html th:replace="~{template :: layout (~{:: main}, 'Movimento')}">
	<main class="	container-fluid">
		<div th:switch="${movimento}">
			<h2 th:case="null">No movimento yet!</h2>
			<div th:case="*">
				<h2>Movimento</h2>
				<a class="btn btn-outline-primary" th:href="@{/movimento/register}" role="button">Adicionar Lançamento</a>
				<div class="table-responsive">
					<table class="table table-sm table-hover text-nowrap">
						<thead>
							<tr>
								<th>Id</th>
								<th>Descrição</th>
								<th>Tipo</th>
								<th>Data Lançamento</th>
								<th>Valor</th>
								<th>Created By</th>
								<th>Created At</th>
								<th>Last Modified By</th>
								<th>Last Modified At</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="lancamento : ${movimento}">
								<td th:text="${lancamento.id}"></td>
								<td th:text="${lancamento.descricao}"></td>
								<td th:text="${lancamento.tipo}"></td>
								<td th:text="${lancamento.dataLancamento}"></td>
								<td th:text="${lancamento.valor}"></td>
								<td th:text="${lancamento.createdBy}"></td>
								<td th:text="${lancamento.createdAt}"></td>
								<td th:text="${lancamento.lastModifiedBy}"></td>
								<td th:text="${lancamento.lastModifiedAt}"></td>
								<td><a href="">Edit</a></td>
								<td><a href="">Delete</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<p><a href="/">Home</a></p>
		</div>
	</main>
</html>