<!DOCTYPE html>
<html th:replace="~{template :: layout (~{:: main}, 'Editar Usuário')}">
	<main class="	container-fluid">
		<div th:switch="${organization}">
			<h2 th:case="null" th:text="|Escola não encontrada|"></h2>
			<div th:case="*">
				<form class="container" th:object="${organization}">
					<div class="row">
						<div class="col">
						<h4>Informações básicas</h4>
						<div class="form-group mb-3">
							<label class="form-label" for="id">Id</label>
							<div>
								<input type="text" class="form-control" th:field="*{id}" value="${organization.id}" placeholder="Em branco." disabled>
							</div>
						</div>
						<div class="form-group mb-3">
							<label class="form-label" for="name">Nome</label>
							<div>
								<input type="text" class="form-control" th:field="*{name}" value="${organization.name}" placeholder="Em branco." disabled>
							</div>
						</div>
						<div class="form-group mb-3">
							<label class="form-label" for="legalName">Nome legal</label>
							<div>
								<input type="text" class="form-control" th:field="*{legalName}" value="${organization.legalName}" placeholder="Em branco." disabled>
							</div>
						</div>
						<div class="form-group mb-3">
							<label class="form-label" for="name">CNPJ</label>
							<div>
								<input type="text" class="form-control" th:field="*{cnpj}" value="${organization.cnpj}" placeholder="Em branco." disabled>
							</div>
						</div>
						<div class="form-group mb-3">
							<label class="form-label" for="isActive">Escola ativa no sistema</label>
							<div>
								<input type="text" class="form-control" th:field="*{isActive}" value="${organization.isActive}" placeholder="Em branco." disabled>
							</div>
						</div>
						<div class="form-group mb-3">
							<a class="btn btn-outline-success" role="button" th:href="@{/organizations/{orgId}/edit(orgId=${organization.id}}">Editar</a>
							<a class="btn btn-outline-danger" role="button" th:href="@{/organizations/{orgId}/delete(orgId=${organization.id}}">Deletar</a>
						</div>
						</div>
						<div class="col">
							<div class="form-check">
								<div class="p-1 justify-content-center">
									<h4>Usuários Associados</h4>
									<table class="table">
										<tbody>
											<tr th:each="user : ${organization.users}">
												<td>
													<input class="form-check-input" name="organizations" th:text="|${user.id} - ${user.email} - ${user.fullName}|" th:value="${user.id}" disabled/>
												</td>
										 	</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<hr/>
						<div class="col">
							<h4>Informações de auditoria</h4>
							<label class="form-label">Criado por:</label>
							<div>
								<input type="text" class="form-control" th:field="*{createdBy}" value="${organization.createdBy}" disabled>
							</div>
							<label class="form-label">Criado em:</label>
							<div>
								<input type="text" class="form-control" th:field="*{createdAt}" value="${organization.createdAt}" disabled>
							</div>
							<label class="form-label">Ultima modificação por:</label>
							<div>
								<input type="text" class="form-control" th:field="*{lastModifiedBy}" value="${organization.lastModifiedBy}" disabled>
							</div>
							<label class="form-label">Ultima modificação em:</label>
							<div>
								<input type="text" class="form-control" th:field="*{lastModifiedAt}" value="${organization.lastModifiedAt}" disabled>
							</div>
							<label class="form-label">Desativada em:</label>
							<div>
								<input type="text" class="form-control" th:field="*{deletedAt}" value="${organization.deletedAt}" disabled>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</main>
</html>