<!DOCTYPE html>
<html th:replace="~{template :: layout (~{:: main}, 'Editar Usuário')}">
	<main class="	container-fluid">
		<div th:switch="${user}">
			<h2 th:case="null" th:text="|Usuário não encontrado|"></h2>
			<div th:case="*">
				<form class="d-flex justify-content-evenly" th:object="${user}">
					<div>
						<div class="form-group mb-3">
							<label class="form-label" for="fullName">Novo Nome</label>
							<div>
								<input type="text" class="form-control" th:field="*{fullName}" value="${user.fullName}" placeholder="Enter Full Name" disabled>
							</div>
						</div>
						<div class="form-group mb-3">
							<label class="form-label" for="role">Account Role</label>
							<div>
								<select class="form-control" th:field="*{role}" value="${user.role}" disabled>
									<option value="ROLE_USER">User</option>
									<option value="ROLE_ACCOUNTANT">Accountant</option>
									<option value="ROLE_ADMIN">Admin</option>
								</select>
							</div>
						</div>
						<div class="form-group mb-3">
							<label class="form-label" for="role">Account Status</label>
							<div>
								<select class="form-control" th:field="*{status}" value="${user.status}" disabled>
									<option value="ACTIVE">Active</option>
									<option value="DISABLED">Disabled</option>
									<option value="DELETED">Deleted</option>
									<option value="RESET_PASSWORD">Reset Password</option>
								</select>
							</div>
						</div>
						<a class="btn btn-outline-success" th:href="@{/users/{userId}/edit(userId=${user.id}}" role="button">Editar</a>
					</div>
					<div>
						<label class="form-label">Criado por:</label>
						<div>
							<input type="text" class="form-control" th:field="*{createdBy}" value="${user.createdBy}" disabled>
						</div>
						<label class="form-label">Criado em:</label>
						<div>
							<input type="text" class="form-control" th:field="*{createdAt}" value="${user.createdAt}" disabled>
						</div>
						<label class="form-label">Ultima modificação por:</label>
						<div>
							<input type="text" class="form-control" th:field="*{lastModifiedBy}" value="${user.lastModifiedBy}" disabled>
						</div>
						<label class="form-label">Ultima modificação em:</label>
						<div>
							<input type="text" class="form-control" th:field="*{lastModifiedAt}" value="${user.lastModifiedAt}" disabled>
						</div>
						<label class="form-label">Ultimo login em:</label>
						<div>
							<input type="text" class="form-control" th:field="*{lastLoginAt}" value="${user.lastLoginAt}" disabled>
						</div>
					</div>
					<div class="form-check">
						<div class="p-1 justify-content-center">
							<table class="table">
								<tbody>
									<tr th:each="org : ${user.organizations}">
										<td>
											<input class="form-check-input" type="checkbox" name="organizations" th:text="|${org.cnpj} - ${org.name}|" th:value="${org.id}" th:field="*{organizations}" disabled/>
										</td>
								 	</tr>
								</tbody>
							</table>
						</div>
					</div>
				</form>
			</div>
		</div>
	</main>
</html>